<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "pt-BR" }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {{- if .IsHome -}}
      {{ .Site.Title }}
    {{- else -}}
      {{ .Title }} — {{ .Site.Title }}
    {{- end -}}
  </title>
  <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}">

  {{/* Open Graph */}}
  <meta property="og:title" content="{{ .Title }}">
  <meta property="og:description" content="{{ with .Description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}">
  {{ with .Params.cover }}<meta property="og:image" content="{{ . | absURL }}">{{ end }}
  <meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}">
  <meta property="og:url" content="{{ .Permalink }}">

  {{/* CSS */}}
  {{ $css := resources.Get "css/main.css" }}
  <link rel="stylesheet" href="{{ $css.RelPermalink }}">

  {{/* Favicon — coloque favicon.ico em /static */}}
  <!--<link rel="icon" type="image/x-icon" href="/favicon.ico">-->
  <link rel="icon" href="{{ "/favicon.ico" | relURL }}">

  {{ block "head" . }}{{ end }}
</head>
<body>

  {{ partial "header.html" . }}

  <main class="site-main">
    <div class="container">
      {{ block "main" . }}{{ end }}
    </div>
  </main>

  {{ partial "footer.html" . }}

</body>
</html>
